@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * ul {
    list-style: none; }

p {
  margin: 0;
  padding: 0; }

.navbar-toggler:focus {
  box-shadow: 0 0 0; }

.navbar-nav {
  align-items: center;
  background-color: #cdb4db; }
  .navbar-nav li {
    margin: 10px; }

.index-nav {
  max-width: 7vh; }

.color-nav {
  background-color: #cdb4db; }
  .color-nav .font-familia {
    font-family: "Abril Fatface", cursive;
    letter-spacing: 2px; }

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "menu-navegacion" "section-one" "section-two" "footer"; }

.menu-navegacion {
  grid-area: menu-navegacion; }

.section-one {
  grid-area: section-one; }

.section-two {
  grid-area: section-two; }

.footer {
  grid-area: footer; }

.section-one {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .section-one__cardContainer {
    max-width: 90vw;
    box-shadow: 3px 4px 8px 0px black;
    margin-top: 20px;
    margin-bottom: 10px; }
  .section-one__imgTortaClasica {
    max-width: 100%; }
  .section-one__bottomCont {
    position: relative;
    background: #faedcd;
    display: flex;
    justify-content: space-between;
    padding-inline-end: 15px;
    align-items: center;
    padding: 10px; }
    .section-one__bottomCont a {
      text-decoration: none;
      color: white; }
    .section-one__bottomCont p {
      color: black;
      font-family: "Roboto", sans-serif; }
    .section-one__bottomCont .btn-primary {
      background-color: #cdb4db;
      border-radius: 50%;
      cursor: pointer;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .section-one__bottomCont .btn-primary i {
        font-size: 25px; }
