*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ul{
        list-style: none;
    }
}

p{
    margin: 0;
    padding: 0;
}

// IMPORTS VARIABLES

@import './variables/colors';
@import './variables/fonts';


// Imports Sections

@import './sections/header.scss';
@import './sections/gridMobile';
@import './sections/section-one';