*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    // overflow-y: hidden;
    ul{
        list-style: none;
    }
    // border-style: solid;
}

p{
    margin: 0;
    padding: 0;
}

// IMPORTS VARIABLES

@import './variables/colors';
@import './variables/fonts';
@import './variables/extend';
@import './sections/body';

body{
    background-color: $color-grisSuave;
}

// Imports Sections

@import './sections/header.scss';
@import './sections/gridMobile';
@import './sections/section-one';
@import './sections/section-two';
@import './sections/section-three';
@import './sections/footer';