.navbar-toggler:focus{
    box-shadow: 0 0 0;
}

.navbar-nav{
    align-items: center;
    background-color: $color-rosaSuave;
    li{
        margin: 10px;
    }
}

.index-nav{
    max-width: 7vh;
}

.color-nav{
    background-color: $color-rosaSuave;
    .font-familia{
        font-family: $font-AbrilFatface;
        letter-spacing: 2px;
    }
}