.section-one{
    display: flex;
    align-items: center;
    flex-direction: column;
    &__selcTorta{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../assets/tortas/selecciona-torta.webp);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 15vh;
        h1{
            display: inline-block;
            color: $color-blanco;
            font-family: $font-Roboto;
            text-shadow: 4px 3px 1px black;
        }
        ul{
            display: inline;
            margin-top: 10px;
            li{
                display: inline;
                color: $color-blanco;
                font-family: $font-Roboto;
                a{
                    text-decoration: none;
                    color: $color-blanco;
                }
            }
        }
    }
    &__cardContainer{
        max-width: 95vw;
        box-shadow: 1px 1px 4px 0px $color-negro;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &__imgTortaClasica{
        max-width: 100%;
    }
    &__bottomCont{
        position: relative;
        background: $color-rosaSuave;
        display: flex;
        justify-content: space-between;
        padding-inline-end: 15px;
        align-items: center;
        padding: 10px;
        a{
            text-decoration: none;
            color: $color-blanco;
        }
        p{
            color: $color-negro;
            font-family: $font-Roboto;
            font-size: 20px;
        }
        .btn-primary{
            background-color: $color-celesteSuave;
            border-radius: 50%;
            cursor: pointer;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 25px;
            }
        }
    }
}