@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap'); 
// font-family: 'Dancing Script', cursive;

@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
// font-family: 'Abyssinica SIL', serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// font-family: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
// font-family: 'Josefin Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// font-family: 'Pacifico', cursive;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
// font-family: 'Abril Fatface', cursive;





// VARIABLES

$font-DancingScript: 'Dancing Script', cursive;
$font-AbyssinicaSIL: 'Abyssinica SIL', serif;
$font-Roboto: 'Roboto', sans-serif;
$font-Josefin: 'Josefin Sans', sans-serif;
$font-Pacifico: 'Pacifico', cursive;
$font-AbrilFatface: 'Abril Fatface', cursive;